[Unit]
Description=OctoSIP Monitor Attack Map
After=network.target

[Service]
EnvironmentFile=/opt/octosip/octosip.env
ExecStart=/opt/octosip/venv/bin/python3 -m http.server 8080 --directory ${OCTOSIP_DIR}
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
