[Unit]
Description=OctoSIP Monitor Attack Map
After=network.target

[Service]
ExecStart=/opt/octosip/bin/python3 -m http.server 8080 --directory /opt/octosip/www
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
